	.dl table td{vertical-align: top;}
	td{padding: 5px;}

	a{text-decoration: none;}

	.fs32{font-size: 32px;} /*¶r≈È32*/
	.fs16{font-size: 16px;} /*¶r≈È16*/
	.fs22{font-size: 22px;} /*¶r≈È22*/

	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 25px;
	  overflow: hidden;
	  background-color: #333;
	  position: fixed;
	  top: 0;
	  width: 100%;
	}

	li {
	  float: right;

	}

	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  margin-left: 10px;
	  border-radius: 15px;
	  transition: 0.3s;
	}

	li a:hover:not(.active) {
	  background-color: #111;
	  transition: 0.3s;
	}

	.active {
	  background-color: dimgray;
	  border-radius: 15px;
	}

	body {
		margin:0;
		font-family: Microsoft JHengHei;
		background-color: #f2f2f2;
		overflow-x: hidden;
	}

	.menuTitle{
		font-size:32px;
		color: white;
		margin-left:50px;
		float: left;
		font-weight: bold;
	}

	.menuTitle span{transition: 0.3s;}

	.menuTitle span:hover{
		color: lightgray;
		cursor:pointer;
		transition: 0.3s;
	}

	.alert {
		width: 878px;
		padding: 20px;
		background-color: #04AA6D;
		color: white;
		margin-bottom: 15px;
	}

	.breadcrumb{
		width: 890px;
		padding: 8px;
		background-color: gray;
		color: white;
		margin-bottom: 10px;
		font-size:14px;
		text-align: left;
		padding-left: 20px;
	}

	.closebtn {
		margin-left: 15px;
		color: white;
		font-weight: bold;
		float: right;
		font-size: 22px;
		line-height: 20px;
		cursor: pointer;
		transition: 0.3s;
	}

	.closebtn:hover {
		color: black;
	}

	.gradient{
		background: -webkit-linear-gradient(#5A55CB, #c837ab);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.box1{position:absolute;bottom: 0px;width: 100%;}
	.box2{position: relative;}

	footer{
		background-color: dimgray;
		width: 99.5%;
		text-align: center;
		padding: 10px;
		color:white;

	}

	.bc-now{
		color: #e3e3e3;
		transition: 0.3s;
	}

	.bc-now:hover{
		color: #c7c7c7;
		transition: 0.3s;
	}